body {
	font-family: verdana;
	font-size: 12px;
	width: 960px;
	margin-left: 100px;
	margin-right: 100px;
}

label {
	font-weight: bold;
}

.error {
	color: red;
	font-style: italic;
}

#header {
	text-align: center;
	padding-bottom: 50px;
}
#footer {
	text-align: center;
	padding-top: 50px;
}